section {
    &.hero {
        overflow: hidden;
        position: relative;
        background-color: #5170F1;
        height: calc(100vh - #{$navbar-height});
        // background: url(/assets/images/Background.svg), linear-gradient(to right, map-get($theme-colors, 'primary'), map-get($theme-colors, 'primary'));
        // background-repeat: no-repeat;
        // background-position: bottom;
        // height: max(70vh, 600px);
        .layer {
            position: absolute;
            transform: scale(1.020);
            display: none;
            @screen sm {
                display: block;
            }
        }
        .layer-1,
        .layer-2 {
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .layer-1 {
            z-index: 10;
        }
        .layer-2 {
            z-index: 9;
        }
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}
