body {
    color: #4d545d;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.428571428571429;
}
.hero {
    min-height: 600px;
    height: 70vh;
}
.hero h1 {
    font-size: 3rem;
}
.divider {
    width: 70px;
    height: 3px;
    background-color: map-get($theme-colors,'primary');
}


/* section */
.section, section {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 768px) {
    .section, section {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* preload */
.loading img {
    -webkit-animation:rotate-center .6s ease-in infinite both;
    animation:rotate-center 1s ease-out infinite both
}
@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}