body {
    color: #4d545d;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.428571428571429;
}
.hero {
    min-height: 600px;
    height: 70vh;
}
.hero h1 {
    font-size: 3rem;
}
.divider {
    width: 70px;
    height: 3px;
    background-color: map-g
}


/* section */
.section, section {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 768px) {
    .section, section {
        padding-left: 40px;
        padding-right: 40px;
    }
}