*:focus {
    outline: none;
}

.btn-blue {
    background-color: #328af1;
    background-color: rgba(50,138,241, 1);
    color: #fff;
    color: rgba(255,255,255, 1);
    border-color: #328af1;
    border-color: rgba(50,138,241, 1);
    padding: .6rem 2rem;
    width: 100%;
    cursor: pointer;
}
.btn-blue:hover {
    background-color: rgba(39,121,189, 1);
    color: rgba(255,255,255, 1);
    border-color: rgba(50,138,241, 1);
}
.button-transparent { 
    background: rgba(255, 255, 255, 0.3); 
}
.button-transparent:hover { 
    background: rgba(255, 255, 255, 0.5); 
}