.nav:not(.bg-transparent):not(.bg-laracasts-light) {
    background: #6875f5;
    background-position: 0 0;
    transition: all 0.2s ease-in-out;
}
.navbar-link {
    transition: border 0.2s ease-in;
    min-width: 5rem;
    text-align: center;
}
.navbar-link.active {
    color: white;
    border-color: white !important;
}
.link-brand img {
    transition: all 0.4s ease-in-out;
}
.link-brand:hover img {
    transform: rotate(360deg);
}
